.Services-box{
  flex-basis: 30%;
  /* max-width: 300px; */
  margin: 15px ;
  background-color: #d7d5be;
  overflow: hidden;
  border-radius: 15px;
  padding: 10px;
}
.Services-box img{
  width: 100%;
  background-size: cover;

  border-radius:6px;

}
.Services-box  .caption{
color:#2270e2 ;
}

/* Media Query */

@media (max-width:850px) {
  .Services-box{
    flex-basis: 100%;
  }
  
}