.hero{
  width: 100%;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 40px 40px;
}
.left-hero{
  flex-basis: 60%;
/* width: 40%; */
}
.left-hero h1{
  font-size: 50px;
  line-height: 57px;
  letter-spacing: 6px;
  color: rgb(44, 44, 44);
}
.left-hero p{
  padding: 20px 0 20px 0;
  color: rgb(73, 72, 72);
}
.right-hero{
  flex-basis: 18%;
 
}
.right-hero img{
  width: 300px;
  border-radius: 6px;
}



/* media query */

@media (max-width:850px) {
  .hero{
    flex-direction: column;
  }
  .left-hero{

    order: 2;
  }
  .right-hero{
    flex-basis: 100%;
  }
  .left-hero h1{
     text-align: center;
     font-size:40px ;
     
  }
  .left-hero p{
    text-align: center;
  }
  .right-hero img{
width: 100%;
  }
  
}
@media (max-width:450px) {
  .left-hero h1{
    font-size: 20px;
    line-height: 22px;
  }
}