.team{
  width: 100%;
  /* margin: 20px; */
}

.team-row1 img,.team-row2 img{
  width: 50%;
  min-width:250px;
 max-width: 400px;
  border-radius: 6px;

}

#tttyy{ 
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
  /* margin-left:50px ; */

}
.team-row1 ,.team-row2{
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

}
.data{
  margin-left: 20px;

}
.data h1{
  font-size: 50px;
}
.data p{
  font-size: 30px;
}
.ourTeamP{
  width: 100%;
  padding: 0 120px;
  margin-bottom: 20px;
  text-align: center;
}


/* Media Query */

@media (max-width:850px) {
  #tttyy{
    flex-direction: column;
  }
  
}