.team{
  width: 100%;
  margin: 20px;
}

.team-row1 img,.team-row2 img{
  width: 200px;
  border-radius: 6px;

}

#tttyy{ 
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /* margin-left:50px ; */
}
.team-row1 ,.team-row2{
  width: 100vw;
  display: flex;
  margin-left: 20px;

}
.data{
  margin-left: 20px;

}
.data h1{
  width: 140px;
}
.data p{
  width: 147px;
}
.ourTeamP{
  width: 100%;
  padding: 0 120px;
  margin-bottom: 20px;
  text-align: center;
}
