.about{
  width: 100%;
}
.row1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;

}
.about-col1,.about-col2,.about-col3{
  flex-basis:30%;
}
.about ul li{
  list-style: circle;
  margin: 10px;
}
.about .about-col3 img{
  width: 300px;
  /* margin-top: 70px; */
  border-radius: 6px;
  transition: all 0.5s ease-in
}
.about .about-col3 img:hover{
  transform: scale(1.1);
}

/* media Query */

@media (max-width:850px) {
  .about .row1{
    flex-direction: column;
    align-items: start;
  }
  .about-col1{
    order: 2;
  }
  .about-col2{
    order: 3;
  }
  .about-col3{
    order: 1;
  }
  .about .about-col3 img{
    width: 100%;
    /* margin-left: 30px; */

  }
  .about-col1,.about-col2,.about-col3{
    flex-basis:100%;
  }
  
}