nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
#logo{
  color: green;
  cursor: pointer;
}
#logo:hover{
  color: goldenrod;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li{
  display:inline-block;
  padding: 10px;
  cursor: pointer;
}
nav ul li:hover{
  color: green;
}
nav ul li:active{
  color: rebeccapurple;
  border-bottom: 2px solid greenyellow;
}
.menu_icon{
  display: none;
}

/* media query */

@media (max-width:800px) {
  nav{
    align-items: start;
  }
  nav ul{
    display: block;
    width: 170px;
    position: fixed;
    top: 20px;
    right: 0px;
    padding:25px;
    background-color: white;
    transition: 0.4s;
    height: 100vh;
    z-index: -2;
  }
  nav ul li{
    display: block;
    max-width: 24px 50px;
  }
  .menu_icon{
    display: block;
    cursor: pointer;
    width: 30px;
  }
 .hide-mobile{
  right: -250px;
 }
  
  
}